<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>UserHome</title>
</head>

<body>
<div class="rg_layout">

  <div class="rg_left">
    <p>Tenant User Home</p>
  </div>

<!--  <div class="rg_center">-->
<!--    <p><a href="./tenantUpdate"> <b>Tenant Update</b></a></p>-->
<!--    <p>{{ getMatchResponse }} </p>-->
<!--  </div>-->


  <div class="rg_center">
    <button (click)=getMatch()>GetMatch</button>
  </div>

</div>

<div class="mb_3">
  <label></label>
  <p>{{ getMatchResponse }}</p>
  <div  *ngIf="getMatchResponseArr" class='table-responsive'>
    <table class='table' style="border: 1px solid black;border-collapse: collapse;">
      <thead>
      <tr>
        <th *ngFor="let item of getMatchResponseArr[0].header">{{item}}</th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of getMatchResponseArr;">
        <td *ngFor="let item of p.elements">{{item}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

</body>

</html>
