<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>UserHome</title>
</head>

<body>
<div class="rg_layout">

  <div class="rg_left">
    <p>Tenant User Home</p>
  </div>

<!--  <div class="rg_center">-->
<!--    <p><a href="./tenantUpdate"> <b>Tenant Update</b></a></p>-->
<!--    <p>{{ getMatchResponse }} </p>-->
<!--  </div>-->


  <div class="rg_center">
    <button (click)=getMatch()>GetMatch</button>
  </div>


  <p>{{ getMatchResponse }}</p>
</div>

</body>

</html>
