<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <title>RegisterORLogin</title>
</head>

<body>
        <div class="rg_layout">

                <div class="rg_left">
                        <p>New User</p>
                        <p>USER REGISTER</p>
                </div>

                <div class="rg_center">
                        <p><a href="./tenantRegister">Registered as a <b>Tenant</b></a></p>
                        <p><a href="./landlordRegister">Registered as a <b>Landlord</b></a></p>
                </div>


                <div class="rg_right">
                        <p>Already have an account</p>
                        <p><a href="./signin">Sign in</a></p>
                </div>

        </div>

</body>

</html>
