<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>RegisterORLogin</title>
</head>

<body>
<div class="rg_layout">

  <div class="rg_left">
    <p>COMS W4156</p>
    <p>Human Learning</p>
  </div>

  <div class="rg_center">
    <p>New User</p>
    <p><a href="./tenantRegister">Registered as a <b>Tenant</b></a></p>
    <p><a href="./landlordRegister">Registered as a <b>Landlord</b></a></p>
    <p><a href="./realtorRegister">Registered as a <b>Realtor</b></a></p>
  </div>


  <div class="rg_right">
    <p>Already have an account</p>
    <p><a href="./signin">Sign in as a <b>Tenant</b></a></p>
    <p><a href="./landlordSignin">Sign in as a <b>Landlord</b></a></p>
    <p><a href="./realtorSignin">Sign in as a <b>Realtor</b></a></p>

  </div>

</div>

</body>

</html>
