<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>tenantRegister</title>

  <script>
    window.onload = function () {
      document.getElementById("form").onsubmit = function () {
        return checkUsername() && checkPassword();
      };
      document.getElementById("username").onblur = checkUsername;
      document.getElementById("password").onblur = checkPassword;
    };

    function checkUsername() {
      var username = document.getElementById("username").value;
      var reg_username = /^\w{1,64}$/;
      var flag = reg_username.test(username);
      var s_username = document.getElementById("s_username");
      if (flag) {
        s_username.innerHTML = "<img width='35' height='25' src='img/gou.png'/>";
      } else {
        s_username.innerHTML = "Username cannot be empty or more than 64 characters.";
      }
      return flag;
    }

    function checkPassword() {
      var password = document.getElementById("password").value;
      var reg_password = /^\w{1,128}$/;
      var flag = reg_password.test(password);
      var s_password = document.getElementById("s_password");
      if (flag) {
        s_password.innerHTML = "<img width='35' height='25' src='img/gou.png'/>";
      } else {
        s_password.innerHTML = "Password canno be empty.";
      }
      return flag;
    }

  </script>
</head>

<body>

<div class="rg_layout">

  <div class="rg_left">
    <p>New tenant register</p>
  </div>

  <div class="rg_center">
    <div class="rg_form">
      <form action="#" id="form" method="get">
        <table>
          <tr>
            <td class="td_left"><label for="username">Username</label></td>
            <td class="td_right">
              <input id="username" name="username" placeholder="Cannot be empty or more than 64 characters."
                     type="text">
              <span class="error" id="s_username"></span>
            </td>
          </tr>

          <tr>
            <td class="td_left"><label for="password">Password</label></td>
            <td class="td_right">
              <input id="password" name="password" placeholder="Cannot be empty."
                     type="password">
              <span class="error" id="s_password"></span>
            </td>
          </tr>

          <tr>
            <td class="td_left"><label for="Email">Email</label></td>
            <td class="td_right"><input id="Email" name="Email" placeholder="Cannot be empty."
                                        type="email"></td>
          </tr>


          <tr>
            <td class="td_left"><label for="tPhone">Phone</label></td>
            <td class="td_right"><input id="tPhone" name="tPhone"
                                        type="tel"></td>
          </tr>

          <tr>
            <td class="td_left"><label>Gender</label></td>
            <td class="td_right">
              <input name="tGender" type="radio" value="male"> Male
              <input name="tGender" type="radio" value="female">
              Female
            </td>
          </tr>

          <tr>
            <td class="td_left"><label for="tAge">Age</label></td>
            <td class="td_right"><input id="tAge" name="tAge" type="number">
            </td>
          </tr>


          <tr>
            <td class="td_left"><label>Constellation</label></td>
            <td class="td_right">
              <input name="constellation" type="radio" value="Aries">
              Aries (3/21-4/20)
              <input name="constellation" type="radio" value="Taurus">
              Taurus (4/21-5/21)
              <input name="constellation" type="radio" value="Gemini">
              Gemini (5/22-6/21)
              <input name="constellation" type="radio" value="Cancer">
              Cancer (6/22-7/22)
              <input name="constellation" type="radio" value="Leo">
              Leo (7/23-8/22)
              <input name="constellation" type="radio" value="Virgo">
              Virgo (8/23-9/22)
              <input name="constellation" type="radio" value="Libra">
              Libra (9/23-10/23)
              <input name="constellation" type="radio"
                     value="Scorpio"> Scorpio (10/24-11/22)
              <input name="constellation" type="radio"
                     value="Sagittarius"> Sagittarius (11/23-12/21)
              <input name="constellation" type="radio"
                     value="Capricorn"> Capricorn (12/22-1/20)
              <input name="constellation" type="radio"
                     value="Aquarius"> Aquarius (1/21-2/18)
              <input name="constellation" type="radio" value="Pisces">
              Pisces (2/19-3/20)
            </td>
          </tr>

          <tr>
            <td class="td_left"><label for="tJob">Job</label></td>
            <td class="td_right"><input id="tJob" name="tJob" type="text">
            </td>
          </tr>

          <tr>
            <td class="td_left"><label for="tPreferLocation">Prefer
              location</label></td>
            <td class="td_right"><input id="tPreferLocation" name="tPreferLocation"
                                        type="text"></td>
          </tr>

          <tr>
            <td class="td_left"><label for="tPreferZipCode">Prefer zip
              code</label></td>
            <td class="td_right"><input id="tPreferZipCode" name="tPreferZipCode"
                                        type="number"></td>
          </tr>

          <tr>
            <td class="td_left"><label for="tPreferType">Prefer type</label>
            </td>
            <td class="td_right"><input id="tPreferType" name="tPreferType"
                                        type="text"></td>
          </tr>

          <tr>
            <td class="td_left"><label
              for="tExpenditure">Expenditure</label></td>
            <td class="td_right"><input id="tExpenditure" name="tExpenditure"
                                        type="number"></td>
          </tr>

          <tr>
            <td class="td_left"><label for="tNumOfRoomates">Number of
              Roomates</label></td>
            <td class="td_right"><input id="tNumOfRoomates" name="tNumOfRoomates"
                                        type="number"></td>
          </tr>

          <tr>
            <td class="td_left"><label for="tSmoking">Smoking</label></td>
            <td class="td_right"><input id="tSmoking" name="tSmoking"
                                        type="text"></td>
          </tr>

          <tr>
            <td class="td_left"><label for="tPet">Pet</label></td>
            <td class="td_right"><input id="tPet" name="tPet" type="text">
            </td>
          </tr>

          <tr>
            <td class="td_left"><label for="tCooking">Cooking</label>
            </td>
            <td class="td_right"><input id="tCooking" name="tCooking"
                                        type="text"></td>
          </tr>

          <tr>
            <td class="td_left"><label for="tEarlyTimeSleep">Early Time Sleep</label>
            </td>
            <td class="td_right"><input id="tEarlyTimeSleep" name="tEarlyTimeSleep"
                                        type="time"></td>
          </tr>

          <tr>
            <td class="td_left"><label for="tLateTimeSleep">Late Time Sleep</label>
            </td>
            <td class="td_right"><input id="tLateTimeSleep" name="tLateTimeSleep"
                                        type="time"></td>
          </tr>


          <tr>
            <td class="td_left"><label for="uni">Uni (Provide if you're a Columbia student)</label>
            </td>
            <td class="td_right"><input id="uni" name="uni"
                                        type="text"></td>
          </tr>

          <tr>
            <td colspan="2" id="td_sub"><input (click)="onRegister()" id="btn_sub"
                                               type="submit" value="Register"></td>
          </tr>
        </table>

      </form>
    </div>
  </div>


</div>

</body>

</html>
