<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>

<body>
<form class="login-form" action="#" method="POST">
  <h1>Realtor Login</h1>
  <input type="text" name="name" placeholder="Username" id="username" #username>
  <input type="text" name="email" placeholder="Email" id="Email" #Email>
  <input type="password" name="password" placeholder="Password" id="password" #password>
  <input type="submit" id="btn_sub" value="Login" (click)="onSignin(username.value, password.value, Email.value)">
  <p></p>
  <input type="reset" id="btn_sub" value="Reset">
  <p class = "error" id="errorlog" *ngIf="showLog">{{ ErrorLog }}</p>
</form>
</body>

</html>
