<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Login</title>
</head>

<body>
<form action="#" class="login-form" method="POST">
  <h1>Login</h1>
  <input name="name" placeholder="Username" type="text">
  <input name="email" placeholder="Email" type="text">
  <input name="password" placeholder="Password" type="password">
  <input id="btn_sub" type="submit" value="Login">
  <p></p>
  <input id="btn_sub" type="reset" value="Reset">
</form>
</body>

</html>
