<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Landlord UserHome</title>
</head>

<body>
<div class="rg_layout">

  <div class="rg_left">
    <p>Landlord User Home</p>
  </div>

<!--  <div class="rg_center">-->
<!--    <p><a href="./tenantUpdate"> <b>Tenant Update</b></a></p>-->
<!--    <p>{{ getMatchResponse }} </p>-->
<!--  </div>-->


  <div class="rg_center">
    <button (click)=getZipcode()>Get Most Popular Zipcode</button>
  </div>

  <div class="rg_right">
    <p>{{ getZipcodeResponse }} </p>
  </div>


</div>

</body>

</html>
